:root {
    --background-color: rgba(255, 255, 255, 0.5);
    --text-color: black;
}

body.dark-mode {
    --background-color: rgb(34, 34, 34);
    --text-color: white;
}

.blog-post-container {
    display: flex;
    align-items: flex-start;
    padding: 40px;
    height: 100vh;
    box-sizing: border-box;
    justify-content: center;
    background-color: var(--background-color);
}

.blog-post {
    background-color: var(--background-color);
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    width: 100%;
    margin-right: 40px;
}

.blog-post-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.blog-post-content {
    font-size: 1.5rem;
    line-height: 1.6;
}

.other-posts {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.other-posts h3 {
    text-align: center;
    margin-bottom: 20px;
}

.other-posts-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.other-post {
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);

}

.home-link {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #888;
    text-decoration: none;
}

.home-link:hover {
    text-decoration: underline;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--text-color);
}