.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/background.jpg");
    /* Add your night sky background image */
    background-size: cover;
    z-index: -1;
    opacity: 0.8;
    animation: twinkling 10s infinite;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px;
}

.name {
    text-align: left;
    margin-right: 40px;
}

.name h1 {
    margin: 0;
}

.name-highlight {
    color: rgb(0, 0, 0);
}

.picture {
    text-align: right;
    margin-left: 40px;
}

.picture img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 800px) {
    .center-container {
        flex-direction: column;
        /* Change flex-direction to column */
        padding: 50px;
        /* Reduce the padding */
    }

    .name {
        margin-bottom: 20px;
        font-size: large;
        /* Add some spacing between text and image */
    }

    .button {
        margin: 0 auto;
    }

    .picture img {
        margin-top: 40px;
        width: 200px;
        height: 200px;
    }
}

.button {
    min-width: 50px;
    min-height: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4fd1c5;
    background: linear-gradient(90deg,
            rgba(129, 230, 217, 1) 0%,
            rgba(79, 209, 197, 1) 100%);
    border: none;
    border-radius: 1000px;
    /* box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64); */
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    text-decoration: none;
}

.button::before {
    content: "";
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00ffcb;
    box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

/* .button:hover,
.button:focus {
    color: #313133;
    transform: translateY(-6px);
} */

/* .button:hover::before,
.button:focus::before {
    opacity: 1;
} */

.button::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00ffcb;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 2.5s infinite;
}

/* .button:hover::after,
.button:focus::after {
    animation: none;
} */

.wrap {
    padding-top: 50px;
}

@keyframes ring {
    0% {
        width: 10px;
        height: 10px;
        opacity: 1;
    }

    100% {
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

@keyframes twinkling {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 40% 40%;
    }

    100% {
        background-position: 0% 0%;
    }
}