.projects-container {
    margin-top: 20px;

}

.projects-title {
    padding: 20px;
    margin-left: 100px;
}

.projects-list {
    list-style-type: none;
    padding: 0;
}

.project-item {
    display: flex;
    width: 100%;
    background-color: #f1f1f1;
    color: white;
    justify-content: space-between;
}

.project-info {
    padding: 20px;
    margin-left: 100px;
}

.project-image {
    flex: 1;
    text-align: right;
    max-width: 800px;
    padding-right: 100px;
    padding: 50px;
}

.project-image img {
    max-width: 100%;
    min-width: 200px;
    height: auto;
    /* padding: 50px; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);

}


.project-item.color-1 {
    background: #264653;
}

.project-item.color-2 {
    background: #2A9D8F;
}

.project-item.color-3 {
    background: #E9C46A;
}

.project-item.color-4 {
    background: #F4A261;
}

.project-item.color-5 {
    background: #E76F51;
}

/* Add the following CSS to adjust the scroll offset */
.projects-container:before {
    content: '';
    display: block;
    height: 100px;
    /* Adjust the height as needed */
    margin-top: -100px;
    /* Adjust the negative margin to offset the scroll */
    visibility: hidden;
}



/* .project-item:nth-child(even) {
    background-color: #eaeaea;
}

.project-item:nth-child(odd) {
    background-color: #f7f7f7;
} */